Repository hbz/lobid-resources, pull requests merged in 2022-11, with the labels that each got.

#1508 BibliographicCitationError
  src/main/resources/alma/fix/otherFields.fix
  src/test/resources/alma-fix/990207856340206441.json
  src/test/resources/alma-fix/990207856340206441.xml
  src/test/resources/alma-fix/almaMarcXmlTestFiles.xml.tar.bz2
Labels: bug, ALMA, Transformation

#1525 1373-PORasHasItemObject
  src/main/resources/alma/fix/item.fix
  src/test/resources/alma-fix/990001412590206441.json
  src/test/resources/alma-fix/990011470300206441.json
  src/test/resources/alma-fix/990014830510206441.json
  src/test/resources/alma-fix/990015048200206447.json
  src/test/resources/alma-fix/990016782920206441.json
  src/test/resources/alma-fix/990021367710206441.json
  src/test/resources/alma-fix/990021974470206441.json
  src/test/resources/alma-fix/990033263300206441.json
  src/test/resources/alma-fix/990035016180206441.json
  src/test/resources/alma-fix/990053976760206441.json
  src/test/resources/alma-fix/990063549080206441.json
  src/test/resources/alma-fix/990114098170206441.json
  src/test/resources/alma-fix/990118562160206441.json
  src/test/resources/alma-fix/990124590390206441.json
  src/test/resources/alma-fix/990126276700206441.json
  src/test/resources/alma-fix/990133067580206441.json
  src/test/resources/alma-fix/990156027740206441.json
  src/test/resources/alma-fix/990171142550206441.json
  src/test/resources/alma-fix/990181275760206441.json
  src/test/resources/alma-fix/990184127410206441.json
  src/test/resources/alma-fix/990189160110206441.json
  src/test/resources/alma-fix/990193094010206441.json
  src/test/resources/alma-fix/990193229450206441.json
  src/test/resources/alma-fix/990194668760206441.json
  src/test/resources/alma-fix/990197023370206441.json
  src/test/resources/alma-fix/990197067610206441.json
  src/test/resources/alma-fix/990197293880206441.json
  src/test/resources/alma-fix/990199611280206441.json
  src/test/resources/alma-fix/990206060640206441.json
  src/test/resources/alma-fix/990210093550206441.json
  src/test/resources/alma-fix/990210237770206441.json
  src/test/resources/alma-fix/990210950050206441.json
  src/test/resources/alma-fix/990213367870206441.json
  src/test/resources/alma-fix/990217478660206441.json
  src/test/resources/alma-fix/990223521400206441.json
  src/test/resources/alma-fix/990363946050206441.json
  src/test/resources/alma-fix/990365842280206441.json
  src/test/resources/alma-fix/991000688209706449.json
  src/test/resources/alma-fix/99370682219806441.json
  src/test/resources/alma-fix/99370699582506441.json
  src/test/resources/alma-fix/99370746459806441.json
  src/test/resources/alma-fix/99370763433806441.json
  src/test/resources/alma-fix/99370763882706441.json
  src/test/resources/alma-fix/99370782520706441.json
  src/test/resources/alma-fix/99371107766906441.json
  src/test/resources/alma-fix/99371447897606441.json
  src/test/resources/alma-fix/99371449208306441.json
Labels: holdings, ALMA, Transformation

#1529 Fix resolving file "institutions.tsv" (#1526)
  src/main/java/org/lobid/resources/run/AlmaMarcXmlFix2lobidJsonEs.java
  src/main/resources/alma/fix/maps.fix
  src/test/java/org/lobid/resources/AlmaMarc21XmlToLobidJsonMetafixTest.java
Labels: ALMA
